#nav-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

#main-nav {
  margin: 0 20px 0 20px;
  width: 50%;
}

#main-logo {
  width: 100px;
  height: 100px;
  background-image: url("./img/logo1.png");
  background-repeat: no-repeat;
}

footer {
  height: 100px;
  align-items: center;
  border: 5px solid #000;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 98%;
}

footer > p {
  margin-left: 50px;
}

#main-section { 
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 10% 0 10%;
}

.item {
    width: 30%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

li>button {
    width: 30%;
    outline: none;
    border: 1px solid #999;
    margin: auto;
    margin-top: auto;
}

li>img {
    width: 100px;
    height: 100px;
    margin: auto;
}
